@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Maven+Pro:wght@400;500&family=Roboto:wght@100;400&display=swap");
body

{
  font-family: "maven pro";
 /* background: rgb(0, 0, 0);  */
 /* background: linear-gradient(354deg, rgba(175, 165, 143, 0.521) 59%, rgba(46, 0, 63, 0.421) 100%);  */
 margin: 3px;
z-index: 0;
 overflow-x: hidden;
height: 120vh;
 background-color: rgba(204, 179, 36, 0.233);

}
header{

 margin-top: 1rem;
width: 100%;
 margin-bottom: 5px;

}

.fondo{
  width: 95%;
  position: relative;
  height: 160px;
  border-radius: 2rem;
  margin-top: 20px;
  object-fit: cover;
margin-left: 1%;
}
a {
  text-decoration: none;
  color: rgb(74, 52, 94);
  font-weight: 600;
  margin-right: 15px;
  font-size: 1.6rem;
}
h1 {
  font-family: "maven pro";
  font-size: 1.8rem;
  text-align: flex-start;
 width: 100%;
}
h2{
  text-align: center;
  font-size: 1.6rem;
  margin-top: 47px;
}

h3 {
  text-align: center;
  font-size: 1rem;
}
li {
  list-style: none;
  margin-right: 6px;
}

nav {
   width: 98%; 
  display: flex;
  justify-content: space-around;
  height: 130px;
  position: sticky;
  align-items: center;
  margin-bottom: 50px;
  
}
.imagenes {
  width: 220px;
  border-radius: 0.5rem;
  margin: 5px;
  background: #ffffff;
-webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}


.cartWidget {
  cursor: pointer;
  text-align: center;
  font-family: "maven pro";
  font-weight: 600;
  width: 60px;
  padding: 5px;
  color: rgb(0, 0, 0);
  border-radius: 1.2rem;
  border-style: none;
  margin: 15px;
  background-color: rgba(131, 56, 202, 0.726);
} 
.small {
  font-size: 0.5rem;
  font-family: "roboto";
}
.counter {
  background-color: rgb(105, 112, 119);
  border-radius: 2.5rem 0.7rem;
  width: 76px;
  height: 200px;
  margin-left: 40px;
  box-shadow: 7px 0 7px 0 rgba(231, 75, 19, 0.705);
  display: contents;
  text-align: center;
}
.parrafo {
  font-size: 1rem;
  background-color: transparent;
  font-weight: 600;
  text-align: center;
}
.valores {
  margin-top: 20px;
  width: 50px;
  margin-right: 40px;
}
.cards {
  display: flex;
  width: 95%;
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  margin-top: 50px;
  align-items: center;
  /* flex-basis: content; */
  /* border: solid 1px;
  border-style: groove; */
  margin: 7px;
  border-radius: 0.5rem;
  /* background-color: rgba(208, 255, 239, 0.493); */
  /* background: #e0e0e0; */
  /* box-shadow: 0px 10px 10px  #73567a,
               0px 0px 20px  rgba(144, 147, 151, 0.527); */
}

p {
 font-size: 0.9rem;
  font-family: 'Roboto';
  font-weight: 600;
}
.center {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: transparent;
}
.date {
  text-align: center;
  width: 100px;
  font-size: 0.7rem;
  font-weight: 600;
}
.none{
  display: none;
}
.cart {
  width: 40px;
}
.item {
  justify-content: center;
  border: 1px solid;
  text-align: center;
  width: 400px;
  margin-left: 35%;
  border-radius: 0.5rem 3rem 1rem;
  box-shadow: 2px 4px rgb(85, 201, 85);
}
.imagenes2 {
  margin-top: 8rem;
  width: 290px;
  border-radius: 1rem;
}
.active {
  color: rgba(255, 237, 78, 0.884);
}
 .footer {
  z-index: 200;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 55px;
  background-color: #9c3cb96b;
  border-radius: 0.8rem;
  width: 98%;
  bottom: 0;
  position: fixed;
  height: 60px;
}
.center2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 50px;
}
.loader {
  display: flex;
  justify-content: center;
  text-align: center;
}
.descrip {
  margin-bottom: 30px;
}
span {
  color: black;
  font-size: 1rem;
}
.imagenes3 {
  width: 180px;
  border-radius: 1rem;
}
.popup {
  background-color: rgb(72, 21, 102);
  border-radius: 100rem 100rem 100rem 100rem;
  color: white;
  font-size: 0.8rem;
  padding: 2px 4px 2px 4px;
  margin-left: 10px;
  position: absolute;
}
.center3 {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  align-items: center;
  font-weight: 600;
}

.finish {
  padding: 5px 28px 30px;
  border-radius: 2rem;
  color: rgb(134, 72, 14);
  background-color: rgba(166, 14, 226, 0.315);
  height: 15px;
}
.menuu, .menuu1, .menuu2, .menuu3{
  font-size: 0.6rem;
}
  .menuu:hover{
  background-color: rgb(183, 125, 223);
 box-shadow: 3px 3px 10px rgb(105, 112, 119)
}
  .menuu1:hover{
  background-color: rgb(218, 158, 69);
 box-shadow: 3px 3px 10px rgb(105, 112, 119)
}
.menuu2:hover{
  background-color: rgb(127, 180, 40);
 box-shadow: 3px 3px 10px rgb(105, 112, 119)
}
 .menuu3:hover{
  background-color: rgb(118, 195, 214);
   box-shadow: 3px 3px 10px rgb(105, 112, 119)
}
.menuClose{

  position: absolute;
  display: block;
  height: 100vh;
  width: 100vw;
  top: 10px;
  left: 10px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}


#seguir {
  cursor: pointer;
  text-align: center;
  font-family: "maven pro";
  width: 220px;
  font-size: 1rem;
  height: 30px;
  border-radius: 1.2rem;
  margin: 30px;
  background-color: rgb(255, 255, 255);
  padding-top: 9px;

  
}
.center4 {
  width: auto;
  font-size: 1.2rem;
  color: rgb(235, 152, 57);
  text-align: center;
}
.slideInLeft {
  
   -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  height: 300px;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.info {
  /* box-shadow: 10px 10px 10px rgb(82, 75, 99); */
  width: 90px;
  /* color: rgb(255, 238, 0); */
  background-color: rgb(255, 255, 255);
  margin-left: 18%;
}
.precio {
  font-weight: 600;
  text-align: center;
  border-radius: 0.4rem;
  padding: 4px;
  color: #000000;
  width: 120px;
  justify-content: center;
  display: flex;
}
.pulse {
  font-size: 1.8rem;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.compra {
  display: flex;
  margin-left: 30%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.formulario {
  margin-top: 50px;
  display: flex;
  width: 80%;
  justify-content: center;
  margin-right: 10%;
  margin-left: 9%;
  margin-bottom: 15vh;
}
input {
  width: 250px;
  height: 20px;
  border-radius: 1rem;
  background-color: rgba(231, 228, 18, 0.801);
  margin-top: 7px;
  text-align: start;
  border: none;
  padding: 5px;
}
form {
  text-align: center;
  font-weight: 600;
  color: rgb(88, 80, 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 35px;
}

.prods {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  border: none;
  margin-right: 40px;
  
}

.dropdown {
  /* position: absolute; */
  display: inline-block;
  /* margin-right: 15%; */
  border-radius: 2.8rem;
}

.dropdowncontent  {
   display: none; 
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  margin-left: -20px;
  box-shadow: 8px 8px 16px 8px rgba(81, 69, 92, 0.466);
  z-index: 1000;
  border-radius: 1rem;
  
}

.dropdowncontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1rem;
}

.dropdowncontent a:hover{
  margin-left: 18px;
  width: auto;
  border-radius: 1.4rem;
  box-shadow: 3px 3px 10px rgb(105, 112, 119);
}
.dropdown:hover .dropdowncontent {
  display: block;
}
@media only screen and (max-width: 480px) {
  

  .detalleInfo{
    position: fixed;
    top: 100px;
  }
  img:hover{
  transition: transform 400ms ease-in;
  transform: scale(1.0) ;
}
  .precio {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.4rem;
  padding: 4px;
  display: flex;
  flex-direction: column;
  width: 60px;
  margin-left: 12px;
}
  /* .slide{
    display: flex;
    flex-direction: row;
    width: 85%;
    background-image: linear-gradient(rgba(20, 122, 153, 0.349), rgb(242, 242, 255));
  } */
  .listado{
    display: none;
  }
  h1{
    font-size: 1.3rem;
    margin-left: 20%;
    padding-top: 3px;
  }
  .offer2{
 display: none;
  }

  .carrito {

    display: flex;
    flex-direction: row;
    
  }
  .popup {
    background-color: rgb(72, 21, 102);
    border-radius: 100rem 100rem 100rem 100rem;
    color: white;
    font-size: 0.8rem;
    padding: 1;
    position: absolute;
  }

  .AddCart{
    display: none;
  }
  /* .cards2 {
    margin-top: 6px;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .imagenes {
    width: 230px;
  height: 110px;

  } */
}
  /* .slide{
    padding: 4px;
    color: #5996b9;
    border-radius: 0.8rem;
     background-image: linear-gradient(rgba(20, 122, 153, 0.342), rgb(242, 242, 255));
  
    } */
.cartWidget {
  background-color: transparent;
  width: auto;
  align-items: center;
  display: flex;
}
 .carrito {
    display: flex;
    flex-direction: row;
  }
  .btn3{
    display: flex;
    margin-left: 43%;
    width: 12rem;
    justify-content: center;

  }
  label{
    margin: 4px;
    color: black;
   
  }
  .pTop{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 6px;
  }
  small{
 display: flex;
 justify-content: right;
 align-items: center;
 color: rgb(18, 177, 31);
  }
  .oferta{
    position: absolute;
    color: rgb(141, 49, 184);
    writing-mode: vertical-lr;
   margin-top: -6.6rem;
    margin-left: -0.1rem;
  }
  .offer{
    width: 30px;
    position: fixed;
    display: none;
    margin-left: -98%;
    margin-top: 45%;
    z-index: 5;
  }
  .offer2{
display: none;
  }
  .btnNone{
    background-color: transparent;
    width: 220px;
    display: flex;
    justify-content: center;
  }
  .bold{
    font-weight: 600;
  }
  .big{
    width: 80%;
    height: 120%;
    object-fit: cover;
    transform: translate(0px);
    transition: 0.3s;
    border-radius: 1rem;
    z-index: 10;
   
   
    top:-8%;
  }
   .cards2{
   display: flex;
   flex-direction: column;
    align-items: center;
   }
   .detalleInfo{
 display: none;
   }
.busqueda{
  position: absolute;
  width: 120px;
  margin-top: 70px;
}
.search{
  position: fixed;

}
ul{
  margin-top: 40px;
}
.contadorCard{
  
  display: flex;
  flex-direction: row;
}
/* .agregar{
  background-color: rgb(255, 255, 255);
  width: 90px;
} */
.dark {
background: #222222;
color: rgb(255, 255, 255);
}
.light {
background: rgb(255, 255, 255);
color: rgb(27, 27, 27);
}
.btnTheme{
  background-color: rgb(255, 255, 255);
}

.btnTheme:hover{
  background-color: #f1f1f1;
}
.footImg{
  width: 35px;
  margin-top: 5px;
  margin-left: 5px;
}
.add {
  background-color: rgb(255, 255, 255);
  width: 45px;
}
.rest {
  background-color: rgb(255, 255, 255);
  width: 45px;
}
/* 
.rest, .add, .agregar,  .btnTheme,  #seguir, .finish, .borrar,.precio,.slide,.navbar,
.compra, input, textarea, .info, .agregar, .send,.Toastify__toast-body,.Toastify__toast,.Toastify__toast-theme--light,.Toastify__toast {
color: black;
background: #ffffff;
-webkit-box-shadow: 2px 2px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;

} */
 .borrar, .compra, input{
  background-color: transparent;
}
.send{
  background-color: white;
  margin-left: 77%;
}

.login {
  margin-right: 2px;
  background-color: antiquewhite;
}

.navbar {
  width: 100%;
  display: flex;
 background-color: #2bac5f85;
border-radius: 0.8rem;
} 
input{
  width: 200px;
  font-weight: 700;
}

 .logo {
 align-items: center;
display: flex;
width: 98%;
justify-content: space-between;
height: 65px;
margin-left: 5%;
} 
.catw{
display: flex;
flex-direction: row;
align-items: center;


}


.logged{
  display: flex;
    margin-top: 150px;
    padding: 5px;
    margin-right: 20px;
    
 
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: flex-end;
}
.nombre{
  color: green;
  padding: 1px;
}
.emailed{
  color: orange;
  
}
.sticky {
  position: fixed;
  top: 0;
  width: 98%;
  z-index: 200;
  margin-top: 10px;
  height: 60px;
}
.sticky2 {
  position: sticky;
  bottom: 0;
  width: 98%;
  z-index: 200;
 
}
.login__container{
  margin-top: 20vh;
  width: 300px;
  /* background-color: rgb(218, 158, 69); */
  margin-left: 30%;
}
.register{
  margin-top: 36vh;
}
.cartCard{
  margin-top: 20vh;
}
.notification-container {
    font-size: 14px;
    box-sizing: border-box;
    position: fixed;
}
.top-right {
    top: 12px;
    right: 12px;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

.Toastify__toast {
border-radius: 2rem;
box-shadow: none;
 position: fixed;
  top: 0;
  width: 250px;
  max-height: 30px;
  z-index: 200;
 
}

#huma{
  font-size: 1.6rem;
}

.Toastify__toast-body {
background-color: rgb(255, 255, 255);
border-radius: 2rem;
color: black;
width: 200px;
}

.login2{
  background-color: transparent;
  margin-top: 36vh;
}

.logoTheme{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 80px; 
  justify-content: space-evenly;
}
 .AddCart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
 }
 .space{
  text-align: center;
 }
.space2{
  margin-top: 15vh;
}
.space3{
  margin-bottom: 10vh;
}
 /* .main{
  margin-top: 7vh;
} */

 .contacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10vh;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 13vh;

 }
 textarea{
   margin-top: 2px;
  height: 200px;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.219);
  font-family: 'maven pro';
  font-weight: 800;
 }
.quienes{
  font-size: 1.3rem;
  color: rgb(30, 47, 56);
margin-bottom: 40px;
  border-radius: 2.8rem;
  font-weight: 600;
 
}
.nosotros{
  margin-top: 15vh;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: 5px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #000000;
  font-weight: 800;
  font-size: 1.2rem;
  padding: 7px;
  border-radius: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 10px;
  left: 10px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(217, 95, 221, 0.5);
  
  width: 40%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  height: 280px;
  transition: transform 0.5s ease-in-out;
  align-items: flex-start;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}


.breadC{
  display: flex;
  justify-content: center;
  height: 0px;
  margin-top: 100px;
  margin-left: 2rem;
  flex-wrap: wrap;
}
.breadText{
  font-size: 0.9rem;
  color: black;
  margin: 3px;
}
.active{
  color: rgb(93, 27, 95);
}