@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Maven+Pro:wght@400;500&family=Roboto:wght@100;400&display=swap');
body {
  margin: 0;
  font-family: 'maven pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: 'maven pro';
  font-size: 1.9rem;
  
}
li{
  list-style: none;
}
.navbar{
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
img{
  width: 30px;
}
button, select, option{
  cursor: pointer;
  text-align: center;
  font-family: 'maven pro';
  font-weight: 600;
  width: 100px;
  padding: 5px;
  height: 35px;
  color:orangered;
  border-radius: 1.2rem;
  border-style: none;
  margin: 15px;
}
